.container{
  max-width: 1000px;
  margin: 0 auto;
}
.header{
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}
.header_navbar{
  display: flex;
  gap: 10px;
}
.header_title{
  font-size: 20px;
  color: green;
}